.slider {
    height: 100%;
    width: 100%;
    display: none;
}


.centerification {
    text-align: center;
    border-bottom: 1px solid #CCC;
}

.button {
    display: inline-block;
    border: 1px solid #CCC;
    margin-top: l0px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(30, 30, 30, 1);
    border-bottom: 0;
}

.button-active {
    display: inline-block;
    border: 1px solid #CCC;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(30, 30, 30, 1);
    background: #AAAAAA;
    border-bottom: 0;
}
